@model WebApplication1.Scripts.table2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>table2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.topings }) |
    @Html.ActionLink("Back to List", "Index")
</p>
